details {
    display: inline-block;
}

kbd {
    background-color: #f1f1f1;
    padding: 0.1em 0.4em;
    font-size: 0.9em;
}

p {
    line-height: 1.8em;
}

details > div {
    padding-left: 1em;
}

input[type=range], select {
    vertical-align: middle;
}

form[name=cuiForm], #div_volume, #button_parent, #macro, #menu {
    margin: 8px 0px;
}

.bg-red {
    background-color: #ff4b00;
}

.bg-yellow {
    background-color: #fff100;
}

.bg-white {
    background-color: white;
}

.bg-pink {
    background-color: #ffcabf;
}

.strike {
    text-decoration: line-through;
}

h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0px;
    font-weight: normal;
}

.h2 {
    display: block;
    margin: 1.245em 0px;
}

.h2 > details > summary {
    font-size: 1.5em;
    font-weight: bold;
}

.h3 {
    display: block;
    margin: 1.17em 0px;
}

.h3 > details > summary {
    font-size: 1.17em;
    font-weight: bold;
}

.h4 {
    display: block;
    margin: 1.33em 0px;
}

.h4 > details > summary {
    font-weight: bold;
}

.textbox_2digits {
    width: 5em;
}

.red {
    color: #ff4b00;
}

.gray {
    color: #84919e;
}

.block {
    display: block;
}

.none {
    display: none;
}

#clock {
    font-size: 2em;
    margin: 8px 0px;
}

#notice {
    font-size: 0.95em;
}

#document * {
    letter-spacing: 0.05em;
}
